// CoreUI
@import "~@coreui/coreui/scss/coreui";
@import "~@coreui/icons/css/all.min.css";

.os-icon {
    width: 6%;
}
.info-icon {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1.6rem !important;
}
